

#grid{
  margin: 161px;
}
#sideBar{
  background-color:
}

.col-md-1{
  margin: 0;
  margin-right: -15px;
  height: 1174px;
  margin-left: 15px;

}
.firsRow{
  margin-left: 0px;
  position: absolute;
}

.secondRow{
  margin-left: 20px;
  position: absolute;
}

.thirdRow{
  margin-left: 50px;
  position: absolute;
}

.fourthRow{
  margin-left: 80px;
  position: absolute;
}

.fifthRow{
  margin-left: 110px;
  position: absolute;
}

.container {
  margin:   0 0 20px;
  padding: 0;
}

.palette{
  font-size: 30px;
}

canvas#grid {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 150px;
  overflow: scroll  
}

h1{
  color: white;
}

.btn {
  position: fixed;
  left: 0;
  top: 600px;
  width: 150px;
  background: white;
  z-index: 99;
}

.sidebar {
  position: fixed;
  z-index: 99;
}
